[submodule "Development/ThirdParty/Eightest/Eightest"]
	path = Development/ThirdParty/Eightest/Eightest
	url = https://github.com/MathDivergent/Eightest
[submodule "Development/ThirdParty/Eightmory/Eightmory"]
	path = Development/ThirdParty/Eightmory/Eightmory
	url = https://github.com/MathDivergent/Eightmory
[submodule "Development/ThirdParty/Eightrefl/Eightrefl"]
	path = Development/ThirdParty/Eightrefl/Eightrefl
	url = https://github.com/MathDivergent/Eightrefl
[submodule "Development/ThirdParty/Eightser/Eightser"]
	path = Development/ThirdParty/Eightser/Eightser
	url = https://github.com/MathDivergent/Eightser
